SECRET_KEY="your_key"
DEBUG="bool_value"
ALLOWED_HOSTS=host1,host2
DATABASE_URL=sqlite:///your-db.sqlite3
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
SECURE_SSL_REDIRECT=False
SECURE_HSTS_SECONDS=0